*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import 'variables';

/* header */

.header {
    display:flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;

    .logo {
        margin-left: 105px;
    }
}

.wraper-menu {
    display: flex;

    .menu-name{
        margin-right: 100px;
        font-family: $fontFamily;
        font-weight: 300;
        color: #171717;
        font-size: 12px;
        cursor: pointer;
    }
}

.icon-top {
    margin-right: 23px;
    color: #202020;
}

/*section*/

.banner {
    position: relative;
}
.social-media {
    width: 60px;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    z-index: 99;
    height: 1000px;
    justify-content: center;
    align-items: center;
    gap: 45px;
} .text-follow {
    font-family: 'Monstserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    transform: rotate(-90deg);
}

.image-pink {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    position: relative;
}

.content-baner {
    position: absolute;
    left: 50%;
    top: 200px;
    .title {
        font-size: 50px;
        font-family: 'Montserrat';
        color: #171717;
        font-weight: 600;
    }
    .subtitle {
        font-size: 10px;
        font-family: $fontFamily;
        margin-top: 20px;
        color: #171717;
    }

    .content-text {
        margin-top: 10px;
        font-size: 14px;
        font-family: 'Montserrat';
        font-weight: 300;
        line-height: 1.5;
    }
    .baner-icon {
        margin-top: 15px;
        display: flex;
    } .icon-baner-arrow {
        color: #000;
        font-size: 15px;
    } .icon-baner-arrow:hover {
        color: #fff;
    }
    .icon-baner-heart {
        margin-left: 5px;
        color: #000;
        font-size: 15px;
    } .icon-baner-heart:hover {
        color: red
    } .icon-baner-search {
        margin-left: 5px;
        color: #000;
        font-size: 15px;
    } .icon-baner-search:hover {
        color: blue;
    }

    .icon {
        padding: 5px;
        width: 25px;
        height: 25px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
    }
}
.sales {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 3px;
}
.sales-content {
    background-image: url("../images/bg.png");
} .sales-title {
    font-size:  38px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 600;
    padding-top: 50px;
    padding-left: 38px;
    padding-right: 38px;
    line-height: 58px;
} .subtitle-sales {
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
    padding-top: 25px;
    padding-left: 38px;
} .price-sales-timer {
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    padding-left: 38px;
} .original-price {
    text-decoration: line-through;
    font-size: 22px;
    margin-right: 20px;
}
.dollars-wrapper {
    display: flex;
    align-items: center;
    padding-top: 40px;
    justify-content: space-between;
    padding-right: 38px;
}



/* shop-menu */

.wraper-shop {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    gap: 50px;
}  .filter-name {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    color: #2d2b27;
    text-decoration: none;
} .filter-name:hover {
    color: #CD89A8;
}

.shop-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
} .images {
    width: 200px;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 25px;
} .images img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    vertical-align: bottom;
} .images-girl {
    height: 380px;
    position: relative;
} 

.adidas{
    height: 70%;
    width: 100%;
    background-image: url("../images/Image\ \(18\).png");
    background-size: 100% 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 25px;

}

.bag-black {
    object-fit: cover;
    width: 200px;
    height: 100px;
}

.girl-content {
    top: 25%;
    left: 8%;
    position: absolute;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 300;
}
.vintage-text {
    position: absolute;
    top: 33%;
    left: 8%;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #2d2b27;
}

.btn-shop {
    position: absolute;
    top: 45%;
    left: 8%;
    background-color: #fff;
    border: none;
    color: #fff;
    background-color: black;
    font-family: 'Montserrat';
    font-weight: 400;
    height: 30px;
    width: 110px;
    border-radius: 10%;
} .sales-btn {
    position: static;
    border-radius: 20px;
    height: 40px;
    background-color: #f3ebdc;
    color: #000;
}
.btn-shop:hover {
    color: #CD89A8;
}
.sales-time-wrapper {
    display: flex;
    padding-left: 38px;
    padding-top: 65px;
    padding-bottom: 20px;
} .times {
    background-color: #fff;
    margin-right: 20px;
    width: 90px;
    height: 105px;
    border-radius: 20px;
} .numbers {
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
    text-align: center;
    padding-top: 25px;
} .timer-subtitle {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #000;
    text-align: center;
}

.sales-gorl {
    width: 250px;
    height: 100%;
    object-fit: cover;
}

.text-people {
    font-family: 'Montserrat';
    font-size: 20px;
}

.people-subtitle {
    font-size: 15px;
    font-family: $fontFamily;
    font-weight: 400;
    margin-top: 20px;
}

.btn-people {
    background-color: #fff;
    border: none;
    color: #000;
    background-color: #fff;
    font-family: 'Montserrat';
    padding: 20px 20px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 35px;
} .btn-people:hover {
    color: #CD89A8;
}

.baner-people-wrapper {
    width: 50%;
    text-align: center;

}

.people-baner {
    background-image: url('../images/PSDFreebies.com.png');
    width: 865px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: end;
    padding: 25px 0;
}

/* product types*/

.product-types {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
} .product-title {
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #2d2b27;
} .product-subtitle {
    font-size: 15px;
    font-family: $fontFamily;
    font-weight: 300;
    color: #2d2b27;
    padding-top: 10px;
}

.types-images {
    position: relative;
}

.product-types-images {
    display: grid;
    justify-content: center;
    position: relative;
    width: 875px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
} .image-types {
    margin-top: 30px;
    width: 100%;
    height: 320px;
} .btn-women {
    width: 120px;
    top: 85%;
    height: 40px;
    position: absolute;
    left: 50%;
    padding: 30p;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: -1%;
    font-size: 13px;
    font-family: $fontFamily;
    transform: translateX(-50%);
} .btn-women:hover {
    color: #CD89A8;
}

.btn-boy {
    position: absolute;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: black;
    font-size: 13px;
    font-family: $fontFamily;
    right: 68%;
    top: 85%;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
} .btn-boy:hover {
    color: #CD89A8;
}

.btn-kids {
    position: absolute;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: black;
    font-size: 13px;
    font-family: $fontFamily;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
} .btn-kids:hover{
    color: #CD89A8;
}

/*featured product*/

.products-photos {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 20px;
    .model-wrapper4 {
        text-align: center;
    }
} .models {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
} .name-product {
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #000;
} .brand-name {
    font-size: 12px;
    font-family: $fontFamily;
    font-weight: bold;
    margin-bottom: 3px;
} .price {
    margin-top: 5px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
} .show-more {
    font-size: 13px;
    width: 150px;
    height: 40px;
    background-color: #fff;
    color: #000;
    position: absolute;
    left: 42%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 12px;
    border: 1px solid gold;
    font-family: $fontFamily;
    font-weight: bold;
    top: 100%;
}

/* banner jeans */

.banner-jeans {
    width: 865px;
    background-image: url('../images/Image\ \(19\).png');
    margin: 0 auto;
    background-size: cover;
    margin-top: 120px;
    text-align: center;
    padding: 25px 0;
    background-position-x: center;
} .title-jeans-banner {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #2d2b27;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: -200px;
} .subtitle-jeans {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #1a1a1a;
    margin-bottom: 30px;
    margin-left: -200px;
} .sign-up {
    height: 40px;
    width: 150px;
    background-color: #171717;
    border-radius: 30px;
    color: #fff;
    border: none;
    margin-left: -200px;
}

/* news blog */
.blog-news {
    width: 865px;
    margin: 0 auto;
}
.news-title {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #2d2b27;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
} .news-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
} .news-image {
    width: 100%;
}
.blog-content {
    text-align: center;
    position: relative;
    top: -25px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.title-blog {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #2d2b27;
}

.date-blog {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #7d7d7d;
    font-style: italic;
    margin-top: 5px;
}

/* information */

.content-information-wrapper {
    background-color: #f8f8f8;
    padding-top: 300px;
    margin-top: -200px;
    padding-bottom: 100px;
} .wrapper-information {
    width: 865px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    margin: 0 auto;
}

.title-information {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #575153;
    margin-bottom: 25px;
}

.information{
    display: grid;
} .information-link {
    font-size: 12px;
    font-family: 'Monstserrat', sans-serif;
    font-weight: 300;
    color: #727272;
    margin-bottom: 10px;
}

.contact {
    font-size: 14px;
    font-family: 'Monstserrat', sans-serif;
    color: #727272;
    font-weight: 300;
    margin-bottom: 10px;
}
.bold {
    font-weight: 600;
    color: #000;
}

.contact.mails{
    margin-bottom: 45px;
}

/* footer */

.footer {
    text-align: center;
    padding: 40px 0;
} .copyright {
    font-size: 14px;
    font-family: 'Monstserrat', sans-serif;
    font-weight: 300;
    color: #727272;
    margin-bottom: 20px;
}


/*media*/

@media (max-width: 1200px) {
    .wraper-menu .menu-name {
        margin-right: 30px;
    }
}

@media (max-width: 1000px) {
    .shop-image {
        padding: 0 50px;
    }
    .images {
        width: 100%;
        flex-direction: row;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .adidas {
        height: 300px;
        width: 100%;
    }

    .images .bag-black{
        height: 300px;
        width: 100%;
    }

    .images img {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 900px) {
    .sales {
        display: none;
    }

    .banner-jeans {
        width: 100%;
    }

    .image-people {
        width: 100%;
    }

    .people-baner {
        width: 100%;
    }

    .wrapper-information {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 100%;
    }

    .blog-news {
        width: 100%;
    }
}

@media (max-width: 899px){
    .product-types-images {
        width: 100%;
    }
    .products-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        .model-wrapper {
            text-align: center;
        }
    }
    .models {
        margin-right: 0;
        object-fit: contain;
    }
    .wrapper-information {
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }
    .people-baner {
        background-position-x: -140px;
    }
}

@media (max-width: 799px) {
    .banner-jeans {
        width: 100%;
    }
    .top-icon {
        display: flex;
        flex-direction: column;
    }
    .icon-top {
        margin-bottom: 10px;
    }
    .header .logo {
        margin-left: 20px;
    }
    .wraper-shop {
        gap: 25px
    }

    .product-types-images {
        display: grid;
        grid-template-columns: 1fr;
    }

    .image-types {
        height: 300px;
        object-fit: contain;
    }
}

@media (max-width: 699px) {
    .title-jeans-banner {
        font-size: 20px;
        margin-left: -160px;
    }

    .models {
        margin-right: 0;
        width: 100%;
    }

    .content-baner .title {
        font-size: 40px;
    }
}

@media (max-width: 599px) {
    .wrapper-information {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product-types-images {
        display: grid;
        grid-template-columns: 1fr;
    }

    .image-types {
        height: 300px;
        object-fit: contain;
    }
    .wraper-shop {
        flex-wrap: wrap;
    }
    .contact.mails {
        margin-bottom: 10px;
    }
}